/* Rotate last bar */
.expanded .hamburger-bar-bottom {
  background-color: black;
  transform: rotate(45deg) translate(-9px, -9px);
  -webkit-transform: rotate(45deg) translate(-9px, -9px);
}

/* Fade out the second bar */
.expanded .hamburger-bar-middle {
  background-color: black;
  opacity: 0;
}

/* Rotate first bar */
.expanded .hamburger-bar-top {
  background-color: black;
  transform: rotate(-45deg) translate(-4px, 3px);
  -webkit-transform: rotate(-45deg) translate(-4px, 3px);
}

.hamburger-bar-top, .hamburger-bar-middle, .hamburger-bar-bottom {
  background-color: white;
  height: 3px;
  margin: 6px 0;
  transition: 0.4s;
  width: 25px;
}

.hamburger-container {
  cursor: pointer;
  display: inline-block;
  z-index: 1;
}

.navigation-component-container {
  align-items: center;
  background-color: rgba(45,45,45,0.98);
  display: flex;
  height: 35px;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  position: fixed;
  top: 0;
  width: 100%;
}

.side-menu-container {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.side-menu-container.visible {
  width: 150px;
  display: block;
  transition: 0.3s;
}

.side-menu-item {
  border-bottom: 2px solid grey;
  /* border-top: 1px solid grey; */
  color: black;
  font-size: 17px;
  padding: 10px 5px 10px 5px;
}

.side-menu-item:hover {
  background-color: rgb(248, 248, 248);
}

.side-menu-item a {
  color: black;
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.side-menu-item a:hover {
  color: #49c5b6;
}
